<div class="card rounded-lg">
    <div class="row">
      <div class="col-md-4">
        {{#if post_links}}
  <iframe width="200" src="https://www.youtube.com/embed/eZTS4cL4Euo" title="cat jam original" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{/if}}
        
        {{#if post_image}}
 <img>
        {{/if}}
      </div>
      <div class="card-content col-md-8">
        <div class="user-identity user-img">
          <img src="{{user.user_avatar}}" class="img-fluid user-img" alt="" />
          <h5 class="card-title mt-2">{{user.username}}</h5>
        </div>
        <p>{{post_body}}
        </p>
        <div class="button-options">
          <button type="button" class="btn-group btn-upvote-comment btn btn-success"><i
              class="fa-solid fa-circle-arrow-up"
            > {{votes}}</i></button>
          <button type="button" class="btn-group btn-downvote-comment btn btn-danger"><i
              class="fa-solid fa-circle-down"
            > 0</i></button>
          <button
            type="button"
            class="btn-group btn-delete-comment btn btn-secondary"
          ><i class="fa-solid fa-trash-can"></i></button>
        </div>
      </div>
    </div>
  </div>

