    
    <form class="form-inline">
        <input
          class="form-control mr-sm-2 col-md-8"
          type="text"
          placeholder="Write a Comment"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-success col-md-1 my-2 my-sm-0 comment-btn"
          type="submit"
        >Submit</button>
    </form>