
<form class="form-group comment-input col-lg-12 col-md-11 col-sm-10 m-0 pt-2">
  <input type="text" class="form-control mr-5" placeholder="Write a Comment" id="inputDefault">
  <button class="btn btn-outline-success col-lg-2 col-md-3 col-sm-4 comment-btn" type="submit">Submit</button>
</form>