<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Safe Space</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.2/dist/quartz/bootstrap.min.css">
</head>
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark bg-info mb-3">
    <img src="https://cdn-icons-png.flaticon.com/512/3026/3026431.png" width="50" height="50" alt="safe space icon">
  <a class="navbar-brand m-1 h1" href="#">The Safe Space</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fa-solid fa-house">
            <span class="badge badge-danger">0</span>
          </i>
          Home
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/user">
          <i class="fa-solid fa-user">
            <span class="badge badge-warning">0</span>
          </i>
          User
        </a>
      </li>
      {{#if loggedIn}}
      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="fa-solid fa-key">
            <span class="badge badge-warning"></span>
          </i>
          Logout
        </a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/login">
          <i class="fa-solid fa-key">
            <span class="badge badge-warning"></span>
          </i>
          Login
        </a>
      </li>
      {{/if}}
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-bell">
            <span class="badge badge-info">0</span>
          </i>
          Notifications
        </a>
      </li>
    </ul>
    <form class="form-inline mr-2 my-lg-0 p-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">User Search</button>
    </form>
  </div>
</nav>
    <div class="container">
      <div class="d-flex justify-content-center container m-2">
        <button type="button" class="btn btn-primary">Make a post!</button>
      </div>

<body>
        {{{body}}}
    </div>
    
    {{{footer}}}

    <script src="https://kit.fontawesome.com/38c17d96dd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>