<div class="container rounded-lg">
    
    {{#each userHome as |user|}}
    {{> post}}
    <div class="container card-footer mb-0  comment-container border-dark bg-secondary">
<div class="card-footer bg-dark user-img">      
    {{> comment}} 
</div>
    {{> writecomment}}
    </div>
    </div>
    
    <div>
    {{/each}}
    </div>
</div>
